<p id="notice"><%= notice %></p>

<p>
  <b>Kode Inventaris:</b>
  <%= @inventory.kode_inventaris %>
</p>
<p>
  <b>Nama Asset:</b>
  <%= @inventory.nama_asset %>
</p>
<p>
  <b>Jenis Asset:</b>
  <%= @inventory.jenis_asset %>
</p>
<p>
  <b>Merk:</b>
  <%= @inventory.merk_asset %>
</p>
<p>
  <b>Model:</b>
  <%= @inventory.model_asset %>
</p>
<p>
  <b>Material:</b>
  <%= @inventory.material_asset %>
</p>
<p>
  <b>Harga:</b>
  <%= @inventory.harga %>
</p>
<p>
  <b>Jumlah Baik:</b>
  <%= @inventory.qty_baik %>
</p>
<p>
  <b>Jumlah Rusak:</b>
  <%= @inventory.qty_rusak %>
</p>
<p>
  <b>Lokasi:</b>
  <%= @inventory.lokasi %>
</p>
<p>
  <b>Keteragan:</b>
  <%= @inventory.keterangan %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> | <%= link_to 'Back to Inventories', inventories_path %>
