<h1>Master Peralatan</h1>

<table>
  <tr>
    <th><%= sortable "kode", "Kode" %></th>
    <th>Tipe</th>
    <th>Kelompok</th>
    <th><%= sortable "keterangan", "Keterangan" %></th>
	<th>Jenis</th>
    <th colspan="2">Action</th>
  </tr>
  <% @kelompoks.each do |kelompok| %>
  <tr>
    <% @a = 0 %>
    <td><%= kelompok.kode %></td>
    <td><%= kelompok.tipe %></td>
	<td><%= kelompok.kelompok_asset %></td>
    <td><%= kelompok.keterangan %></td>
    <% @parent_name.each do |g| %>
      <% if kelompok.parent_id == g.id %>
      <td><%= g.keterangan %></td>
      <% @a = 1 %>
      <% end %>
    <% end %>
    <% if @a == 0 %>
    <td><%= "-" %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_kelompok_path(kelompok) %></td>
    <td><%= link_to 'Delete', kelompok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>
<br />

<%= link_to "New Peralatan", new_kelompok_path %>
