<h1>Listing kelompoks</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Jenis</th>
    <th>Keterangan</th>
    <th>Kelompok</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @kelompoks.each do |kelompok| %>
  <tr>
    <% @a = 0 %>
    <td><%= kelompok.kode %></td>
    <td><%= kelompok.jenis %></td>
    <td><%= kelompok.keterangan %></td>
    <% @parent_name.each do |g| %>
      <% if kelompok.parent_id == g.id %>
      <td><%= g.keterangan %></td>
      <% @a = 1 %>
      <% end %>
    <% end %>
    <% if @a == 0 %>
    <td><%= "-" %></td>
    <% end %>
    <td><%= link_to 'Show', kelompok %></td>
    <td><%= link_to 'Edit', edit_kelompok_path(kelompok) %></td>
    <td><%= link_to 'Destroy', kelompok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

<% end %>
</table>
<br />

<%= link_to "new Kelompok", new_kelompok_path %>
