<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @kelompok.kode %>
</p>

<p>
  <b>Tipe:</b>
  <%= @kelompok.tipe %>
</p>
<p>
  <b>Kelompok Asset:</b>
  <%= @kelompok.kelompok_asset %>
</p>
<p>
  <b>Keterangan:</b>
  <%= @kelompok.keterangan %>
</p>

<p>
  <b>Jenis Asset:</b>
  <% @parent_kelompok.each do |parent| %>
  <%= parent.keterangan %>
  <% end %>
</p>


<%= link_to 'Edit', edit_kelompok_path(@kelompok) %> | <%= link_to 'Back to Kelompok', kelompoks_path %>

