<table>
  <tr>
    <th><%= sortable "no", "No" %></th>
    <th><%= sortable "kode", "Kode" %></th>
	<th><%= sortable "keterangan", "Keterangan" %></th>
	<th colspan="2">Action</th>
  </tr>
  <% @bangunans.each_with_index do |bangunan, idx| %>
  <tr>
    <td><%= params[:page].nil? ? idx + 1 : 15 * (params[:page].to_i  - 1) + idx + 1 %></td>
	<td><%= bangunan.kode %></td>
	<td><%= bangunan.keterangan %></td>
	<td><%= link_to 'Edit', edit_bangunan_path(bangunan) %></td>
	<td><%= link_to 'Delete', bangunan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
<div class="pagination"><%= will_paginate @bangunans %></div>
<a data-toggle="modal" href="#myModal" >New Bangunan</a>
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
	<h3>New Bangunan</h3>
  </div>
  <div class="modal-body">
    <h5>Please fill in this form</h5>
	<%= render 'form' %>
  </div>