<%= form_tag :controller => "bangunans", :actions => "create", :method => "post" do %>
  <div class="field">
    <%= label_tag :kode %><br />
    <%= text_field_tag :kode %>
  </div>
  <div class="field">
    <%= label_tag :keterangan %><br />
    <%= text_area_tag :keterangan %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= submit_tag "Save Changes", :class => "btn btn-primary" %>
  </div>
  </div>
<% end %>