<aside id="sidebar" class="column">
  <form class="quick_search">
    <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
  </form>
  <hr/>
    <h3>Master</h3>
	<ul class="toggle">
	  <li class="icn_new_article"><%= link_to "Divisi", divisis_path %></li>
	  <li class="icn_edit_article"><%= link_to "Unit kerja", unit_kerjas_path %></li>
	  <li class="icn_categories"><%=link_to "Bangunan", bangunans_path %></li>
	  <li class="icn_tags"><%= link_to "Kelompok Asset", kelompoks_path %></li>
	  <li class="icn_tags"><%= link_to "Tanah", tanahs_path %></li>
	</ul>
	<h3>Transaksi</h3>
	<ul class="toggle">
	  <li class="icn_add_user"><a href="#">Asset</a></li>
	  <li class="icn_view_users"><a href="#">View Users</a></li>
	  <li class="icn_profile"><a href="#">Your Profile</a></li>
	</ul>
	<h3>Media</h3>
	<ul class="toggle">
	  <li class="icn_folder"><a href="#">File Manager</a></li>
	  <li class="icn_photo"><a href="#">Gallery</a></li>
	  <li class="icn_audio"><a href="#">Audio</a></li>
	  <li class="icn_video"><a href="#">Video</a></li>
	</ul>
	<h3>Admin</h3>
	  <ul class="toggle">
        <li class="icn_settings"><a href="#">Options</a></li>
		<li class="icn_security"><a href="#">Security</a></li>
		<li class="icn_jump_back"><a href="#">Logout</a></li>
	  </ul>
		
	  <footer>
	    <hr />
		  <p><strong>Copyright &copy; 2011 Medco Asset</strong></p>
		</footer>
</aside>
