<table>
  <tr>
	  <th><%= sortable "no", "No" %></th>
    <th><%= sortable "kode", "Kode" %></th>
    <th><%= sortable "keterangan", "Keterangan" %></th>
    <th colspan="2">Action</th>
  </tr>

<% @divisis.each_with_index do |divisi, idx| %>
  <tr>
	  <td><%= params[:page].nil? ? idx + 1 : 15 * (params[:page].to_i  - 1) + idx + 1 %></td>
    <td><%= divisi.kode %></td>
    <td><%= divisi.keterangan %></td>
    <td><%= link_to 'Edit', edit_divisi_path(divisi) %></td>
    <td><%= link_to 'Delete', divisi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
  <div class="pagination">
   <%= will_paginate @divisis %>
  </div>
<br />

<%= link_to 'New Divisi', new_divisi_path %>
