<h1>Listing divisis</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Keterangan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @divisis.each do |divisi| %>
  <tr>
    <td><%= divisi.kode %></td>
    <td><%= divisi.keterangan %></td>
    <td><%= link_to 'Show', divisi %></td>
    <td><%= link_to 'Edit', edit_divisi_path(divisi) %></td>
    <td><%= link_to 'Destroy', divisi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Divisi', new_divisi_path %>
