<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @divisi.kode %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @divisi.keterangan %>
</p>


<%= link_to 'Edit', edit_divisi_path(@divisi) %> |
<%= link_to 'Back', divisis_path %>
