<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode %><br />
    <%= f.text_field :kode %>
  </div>
  <div class="field">
    <%= f.label :tipe %><br />
    <%= f.text_field :tipe %>
  </div>
    <div class="field">
    <%= f.label :kelompok_asset %><br />
    <%= f.select :kelompok_asset, ["-Pilih Salah Satu-", "Bangunan", "Kendaraan", "Peralatan", "Tanah"] %>
  </div>
  <div class="field">
    <%= f.label :keterangan %><br />
    <%= f.text_area :keterangan %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.select :parent_id, @parent_kelompok, { :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>