<%= form_for(@unit_kerja) do |f| %>
  <% if @unit_kerja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_kerja.errors.count, "error") %> prohibited this unit_kerja from being saved:</h2>

      <ul>
      <% @unit_kerja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode %><br />
    <%= f.text_field :kode %>
  </div>
  <div class="field">
    <%= f.label :keterangan %><br />
    <%= f.text_field :keterangan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
