<h1>Listing unit_kerjas</h1>

<table>
  <tr>
    <th><%= sortable "no", "No" %></th>
    <th><%= sortable "kode", "Kode" %></th>
    <th><%= sortable "keterangan", "Keterangan" %></th>
    <th colspan="2">Action</th>
  </tr>

<% @unit_kerjas.each_with_index do |unit_kerja, idx| %>
  <tr>
    <td><%= params[:page].nil? ? idx + 1 : 15 * (params[:page].to_i  - 1) + idx + 1 %></td>
    <td><%= unit_kerja.kode %></td>
    <td><%= unit_kerja.keterangan %></td>
    <td><%= link_to 'Edit', edit_unit_kerja_path(unit_kerja) %></td>
    <td><%= link_to 'Delete', unit_kerja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
  <div class="pagination">
   <%= will_paginate @unit_kerjas %>
  </div>
<br />

<%= link_to 'New Unit kerja', new_unit_kerja_path %>
