<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @unit_kerja.kode %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @unit_kerja.keterangan %>
</p>


<%= link_to 'Edit', edit_unit_kerja_path(@unit_kerja) %> |
<%= link_to 'Back', unit_kerjas_path %>
