<h1>Listing tanahs</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Keterangan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tanahs.each do |tanah| %>
  <tr>
    <td><%= tanah.kode %></td>
    <td><%= tanah.keterangan %></td>
    <td><%= link_to 'Show', tanah %></td>
    <td><%= link_to 'Edit', edit_tanah_path(tanah) %></td>
    <td><%= link_to 'Destroy', tanah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tanah', new_tanah_path %>
