<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @tanah.kode %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @tanah.keterangan %>
</p>


<%= link_to 'Edit', edit_tanah_path(@tanah) %> |
<%= link_to 'Back', tanahs_path %>
