<!DOCTYPE html>
<html>
<head>
  <title>Medco</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar' %>
    <section id="main" class="column">
      <%= yield %>
    </section>
  </body>
</html>
